source https://nuget.org/api/v2
nuget angularjs 1.4.0 framework: >= net45
nuget FSharp.Core 3.1.2.1 framework: >= net45
nuget FsPickler 1.0.7 framework: >= net45
nuget Nuget.CommandLine
nuget Suave 0.28.1 framework: >= net45